:root {
    --main-bg-color:#2a55e5;
  }

*{
    margin: 0;
    padding: 0;
}
header{
    background-color:black;
    height: 70px;
    
}
.logo{
    display: inline-flex;
    height: 30px;
    
}
.logo img{
    width: 100px;
    padding: 0 25px;
}
nav{
    background-color: var(--main-bg-color);
    height: 70px;
       display:flex;
       justify-content: flex-start;
       padding-top: 20px;
      
    
}
  ul{
    display: flex;
     justify-content:center;
     padding-left: 0px;
     
    
} 
li{
    display: inline;
    /* font-style: normal; */
    padding:0px 23px;
    text-decoration:none;
    font-size: large;
    list-style: none;
    

}
nav ul li a {
    text-decoration: none;
    color: white;
    
}
nav ul li a:hover{
    
    font-weight: bolder;
    /* font-style: bold; */
    
}

.search input{
    display:  flex;
    align-items: center;
   margin: 0 40px;
   width: 30vw;
   height: 20px;
   border-radius: 5px;
    

    
}
.search button{
    height: 20px;
cursor: pointer;
    border-radius: 2px;
    padding: 1px 5px;
}
.search{
    display: inline-flex;
    align-items: top;
}
/********** main section*********************/
.container{
    background-color: #fff;
    min-height: 100vh;
   
     
}
h1{
    margin: 0 25px;
}

.container {
        /* height: 400px; */
        /* height: 50vh;
        width: 50vw; */
        /* height: 200px;
        width: 120vw; */
        /* margin: 2px 0 0 5px; */
}
.head{
    margin-left: 25px;
    margin-top: 30px;
}
.slider{

  display: flex;
  /* border: 2px solid black; */
  margin: 15px;
  overflow: scroll;

     
   
}
.slider img{
    margin: 0 25px;
}
 .lines{
    display:flex;
    align-items:center;
    justify-content: center;
    
}

body{
    flex-wrap: wrap;
}



footer{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    height: 8vh;
    padding-top: 30px;
}

